<div class="prompts grid grid-pad">
  <ul class="content">
  <% @prompts.each do |prompt| %>
  <div class="col-1-3">
	<li>
	  <h3><%= link_to prompt.title, prompt  %></h3>
	  <h4><i class="fa fa-user"></i> <%= prompt.user.name %> - <%= time_ago_in_words(prompt.created_at) %> ago</h4>
	  <p><%= prompt.short_description %></p>
	</li>
  </div>
  <% end %>
  </ul>
</div>