body {
  font-family: $font-family;
  font-size: $font-basesize;
  line-height: 1.67em;
  color: $base-text;
}



.base-bg {
  background-color: $base-text;
  color: white;
}


.light-txt {
  color: $light-grey;
}

.light-bg {
  color: white;
  background-color: $light-grey;
}

.dark-txt {
  color: $dark-grey;
}

.dark-bg {
  background-color: $dark-grey;
  color: white;
}

.primary-txt {
  color: $primary-color;
}

.primary-bg {
  background-color: $primary-color;
  color: white;
}

.secondary-txt {
  color: $medium-grey;
}

.secondary-bg {
  background-color: $medium-grey;
  color: white;
}

.success-txt {
  color: $success-color;
}

.success-bg {
  background-color: $success-color;
  color: white;
}

.warning-txt {
  color: $warning-color;
}

.warning-bg {
  color: white;
  background-color: $warning-color;
}

.error-txt {
  color: $error-color;
}

.error-bg {
  color: white;
  background-color: $error-color;
}

.info-txt {
  color: $info-color;
}

.info-bg {
  background-color: $info-color;
  color: white;
}

// TYPOGRAPHY
h1, h2, h3, h4, h5, h6 {
  font-family: $display-font;
  margin: 0.6em 0;
}

h1 {
  font-size: $font-xlarge;
  font-family: 'Lobster', cursive;
  text-align: center;
}

h2 {
  font-size: $font-large;
}

h3 {
  font-size: $font-medium;
}

h4 {
  font-weight: bold;
}

.font-small {
  font-size: $font-small;
}

.font-medium {
  font-size: $font-medium;
}

.font-large {
  font-size: $font-large;
}

.font-x-large {
  font-size: $font-xlarge;
}

p {
  margin: 0.8em 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $raspberry;

  &:hover {
    border-bottom: 2px solid;
  }
}

// FORMS AND BUTTONS
input[type="submit"], input[type="button"], a.btn, button, .btn {
  width: 100%;
  text-align: center;
  line-height: 1;
  display: inline-block;
  font-family: $font-family;
  font-size: $font-basesize;
  font-weight: 300;
  padding: 0.75em 1em;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 2px;
  margin: 5px 0;
  cursor: pointer;

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;

  &:hover {
    background-color: $secondary-color;

  }

  &.btn-secondary {
    background-color: $light-grey;

    &:hover {
      background-color: $medium-grey;
    }
  }

  &.btn-warning {
    background-color: $warning-color;

    &:hover {
      background-color: darken($warning-color, 10);
    }
  }
}



input[type="text"] {
  border: 1px solid $lighter-grey;
  border-radius: 2px;
  padding: 0.5em;
}

textarea {
  border: 1px solid $lighter-grey;
  border-radius: 2px;
  font-weight: 300;
}

input[type=text], textarea {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $lighter-grey;
  font-family: $font-family;
  font-size: 1em;
  font-weight: 300;
}

input[type=text]:focus, textarea:focus, input[type=submit]:focus, input[type=buton]:focus, a.btn:focus, button:focus {
  box-shadow: 0 0 5px $success-color;
}

