
<header>
  <%= link_to "New Prompt", new_prompt_path, class: 'btn new-prompt' %>
  <h1> <%= link_to "Prompt and Circumstance", root_path  %></h1>
  <nav>
    <ul>
      <%= display_session_links %>
    </ul>
  </nav>
</header>


